<% content_for :top_content do %>
  <div class="center jumbotron">
    <h1>Welcome to AlexaRank!</h1>
    <div class="container">
      <% if user_signed_in? %>
        <%= render 'alexa_ranks/form' %>
        <div class="result"></div>
      <% else %>
        <h2>Register to get started.</h2>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      <% end %>      
    </div>

  </div>
<% end %>